<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RandevuTakip.Properties.Settings.HastaneSistemiConnectionString"
            connectionString="Data Source=DESKTOP-38ER4CK\SQLEXPRESS;Initial Catalog=HastaneSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>